@use '../../styles/colors/colors';

.start-page {
  height: 100vh;

  img {
    position: absolute;
    height: 100vh;
    width: 100%;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }

  &__explore {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: colors.$white;
    background-color: rgb(0, 0, 0, 0.85);
    border-radius: 70px;
    padding: 30px 60px 30px 60px;
    
    h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    Button {
        border: none;
        width: 200px;
        height: 40px;
        font-size: 18px;
        border-radius: 10px;
        background-color: colors.$light-grey;
        transition: 0.3s ease-in-out;
        font-weight: 500;

        &:hover {
          font-size: 12px;
          background-color: #49c8e7;
        }
    }
  }
}