.filter-input::-webkit-outer-spin-button,
.filter-input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.form-select {
    border: none;
    transition: 0.3s ease-in;

    &:hover {
        background-color: #49c7e7b8;
        color: white;
    }
}

.filter-input {
    width: 100px;
}
