.movie-slider-container {
    overflow-x: hidden;
    width: 100%;
    position: relative;

    &__arrow {
     position: absolute;
     opacity: 0.5;

     &.right {
        right: 0;
     }

     
    }
}

.movie-slider {
  overflow-x: hidden;
  scroll-behavior: smooth;
        
  &__card {
    flex: 0 0 200px;
    transition: ease 0.3s;
    text-decoration: none;
    color: white;

    &:hover {
      transform: scale(0.95);
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;   
      border-radius: 10px;
    }
  }
}