.card {
    border: none;
    box-shadow: rgba(28, 126, 239, 0.3) 0px 2px 6px 4px;
    animation: load linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

    &:hover {
        background-color: white;
    }

    &-body{
        background-color: black;
    }

    &-type {
        font-size: 12px;
        color: #49c8e7;
    }

    &-title {
        color: white;
    }

    &-text {
        color: white;
    }

    &-buttons {
        row-gap: 5px;
        
        &-details {
            background-color: #49c8e7;
            font-weight: 500;
            letter-spacing: 0.5px;
            border: none;
            transition: 0.2s ease-in;

            &:hover {
                background-color: black;
                color: #49c8e7;
            }
        }

        &-remove {
            border: none;
            background-color: rgb(255, 255, 255);
            font-weight: 500;
            letter-spacing: 0.5px;
            color: rgb(0, 0, 0);
            transition: 0.2s ease-in;

            &:hover {
                background-color: black;
                color: white;
            }
        }

    }

}

.filter {
    &-select {
        border-radius: 8px;
        padding: 6px;
        border-color: #49c8e7;
        border-width: 2px;
        background-color: transparent;
        color: white;
        transition: 0.3s ease-in;
        cursor: pointer;

        &:hover {
            color: #49c8e7;
        }
        
        option {
            background-color: black;
            text-align: left;
        }
    }
}

.favorites-page {
    padding-top: 60px;
}

@keyframes load{
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
