@use '../../../styles/colors/colors.scss';

.burger {

    &__btn {
        background: transparent;
        border: none;
        padding: 0;
        display: flex;
        cursor: pointer;
    }

    &__icon {
        width: 50px;
        height: 30px;
        color: colors.$blue-grey;

        &:hover {
            color: colors.$white;
        }
    }
}