.movie-card {
    display: block;
    text-decoration: none;
    position: relative;
    width: 300px;
    height: 100%;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(0.95);
        opacity: 0.7;
    }

    &__cover {
        position: relative;
        display: block;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }

         &::after {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0,0,0,0), rgba(0, 0, 0, 0.5));
            pointer-events: none; 
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        bottom: -20px;
        left: 10px;
        color: white;
        white-space: nowrap;
    }
}
