@use '../../styles/colors/colors.scss';

.header{
    background-color: colors.$light-grey;
    height: 60px;
    display: flex;

    &__burger-menu {
        display: flex;
        align-items: center;
        border: none;
        padding-left: 20px;
    }

    &__name {
        font-size: 22px;
        padding: 20px;
        display: flex;
        align-items: center;
        font-weight: 800;
    }

    &__links-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 30px;

        a {
            text-decoration: none;
            color: #000000;
            display: flex;
            font-weight: 600;
        }
    }
}