@use '../../styles/colors/colors.scss';

.header {    
    height: 60px;
    display: flex;
    z-index: 5;
    transition: 0.3s ease-in;
    background-color: black;

    &__burger-menu {
        display: flex;
        align-items: center;
        border: none;
        padding-left: 20px;
        display: none;
    }

    &__search-bar{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
    }

    &__logo {
        padding-right: 20px;
    }

    &__links-container {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-left: 50px;
        align-items: center;
        gap: 30px;
    }

    &__links {
            text-decoration: none;
            font-size: 18px;
            color: colors.$light-grey;
            display: flex;
            font-weight: 600;
            transition: ease-in 0.3s;

            &:hover {
                padding-bottom: 4px;
                color: colors.$blue-grey;
            }

            &.active {
                color: #49c8e7;
                padding-bottom: 0;
            }
        }
}