@use '../../../styles/colors/colors' as *; 

.search {
    position: relative;
    display: inline-block;
    border: none;

    &__input{
        padding-left: 10px;
        background-color: transparent;
        border-radius: 10px;
        border: 3px solid $light-grey;
        color: $light-grey;
        outline: none;
        transition: 0.3s ease-in;

        &:focus{
           border-color: #49c8e7;
        }
    }

    &__btn {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 2px;
        cursor: pointer;
        height: 26px;
    }
}