@use '../../../styles/colors/colors' as *; 

.search {
    position: relative;
    display: inline-block;
    border: none;

    &__input{
        padding-left: 10px;
        background-color: transparent;
        border-radius: 10px;
        border: 3px solid $light-grey;
        color: $light-grey;
        outline: none;
        transition: 0.3s ease-in;

        &:focus, &:hover{
           border-color: #49c8e7;
        }
    }

    &__btn {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 2px;
        cursor: pointer;
        height: 26px;
    }
}

.search-results {
  position: absolute;
  min-width: 100%;
  max-width: 20vw;
  border-radius: 0 0 8px 8px;
  padding: 10px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #111;
  font-weight: 600;
  max-height: 500px; 
  overflow-y: auto;  

  &__list {
    list-style-type: none;

    &-item {
      cursor: pointer;

      &-info {
        padding-left: 10px;
      }

      &-img {
        width: 50px;
      }

      &-title {
        font-size: 16px;
      }

      &-type {
        font-size: 12px;
      }
    }
  }
}


.search-results::-webkit-scrollbar {
  width: 8px;
}

.search-results::-webkit-scrollbar-track {
  background: #111;
  border-radius: 3px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
}
